<script id="register-template" type="text/x-handlebars-template">
{{t "user.register.message"}} <br>
<label for="firstName">{{t "user.register.givenName"}}<input type="text" id="firstName" name="firstName" value="{{firstName}}" /></label><br>
<label for="lastName">{{t "user.register.lastName"}}<input type="text" id="lastName" name="lastName" value="{{lastName}}" /></label><br>
<label for="email">{{t "user.register.email"}}<input type="text" id="email" name="email" value="{{email}}" /></label><br>
<input type="button" class="update" value="Update" />
</script>